@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);


--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}


/*Solve problems*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------*/
body {
    background-image: url(./img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Pale-blue);
    font-family: "Red Hat Display", sans-serif;
    font-size:16px;
}

.card {
    width: 450px;
    background-color: white;
    color: var(--Desaturated-blue);
    border-radius:20px;
    overflow: hidden;
    margin: 50px auto;
}

.title {
    color: var(--Dark-blue);
    font-weight: 900;
    font-size:32px;
}

.hero-img {
    width: 100%;
}

.container {
    padding: 30px;
}

.container > * {
    margin: 30px 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;  
}

.order-description {
    line-height:25px;
}

.plan-description {
    line-height:20px;
    margin-right: 75px;
}

.plan-container {
    font-size:  16px;
    background-color: var(--Very-pale-blue);
    padding:25px;
    border-radius: 12px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plan-container a {
    color: var(--Bright-blue);
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.plan-container strong {
    color: var(--Dark-blue);
}

.plan-container:hover{
    opacity: 0.8;
    text-decoration: none;  
}

button {
    width: 100%;
    border: none;
    font-weight:700;
    border-radius: 12px;
    cursor: pointer;
}

.pay-btn {
    background-color:var(--Bright-blue);
    padding: 1rem 0;
    color: white;
    box-shadow:0 20px 30px -8px rbg(197 189 245);
}

.pay-btn:hover {
    opacity: 0.8;
}

.cancel-btn {
    background-color: white;
    color: var(--Desaturated-blue);
    margin-top: 22px;
}

.cancel-btn:hover {
    color: black;
}